body{
    background-color: rgb(17, 151, 137);
    padding: 0;
    margin:0;
}

.first{
    margin: 10px 100px;
    padding: 10px 100px;
}

.p1,.p2{
    display:flex;
}

.image{
    width: 150px;
    height: 150px;
}

.one{
    box-shadow: 0px 2px 2px 2px rgb(17, 151, 137);
    border-radius: 20px;
    margin: 20px auto;
    padding: 10px 150px;
    background-color: rgb(87, 181, 173);
}

.btn{
    background-color: green;
    color: white;
    padding: 3px;
    margin-left: 35px;
}

h3{
    text-align: center;
}

.btn:hover{
    background-color: rgb(13, 247, 122);
    color:black;
}
